# Begin by importing pandas

In [1]:
import pandas as pd

# Reading our csv file

Note the empty string is set to NaN

In [34]:
filename = r"test_conditions.csv"
df = pd.read_csv(filename)
df

   column_a  column_b           column_c column_dates column_gender
0     361.0     361.0        same values   2024-01-12             M
1     254.0     864.0   different values   2024-02-11             F
2     643.0       NaN         b is blank   2024-01-01             M
3       NaN       NaN     both are blank          NaN           NaN
4     789.0       NaN  b is empty string          NaN             U

# Filtering a dataframe using conditions

Note that when a and b are both blank (NaN) condition_1 is false, so we need to explicity test for na() as shown in condition_2

In [28]:
condition_1 = (df['column_a'] == df['column_b']) 
condition_2 = (df['column_a'].isna() & df['column_b'].isna())
df_sliced = df[condition_1 | condition_2]
df_sliced

   column_a  column_b        column_c column_dates column_gender
0     361.0     361.0     same values   2024-01-12             M
3       NaN       NaN  both are blank          NaN           NaN

# Mapping a column

Note when a value is not found in the map (here 'U') then the output is Nan

In [35]:
gender_map = { 'M':'Male',
               'F':'Female'}
df['mapped_gender'] = df['column_gender'].map(gender_map)
df

,column_a,column_b,column_c,column_dates,column_gender,mapped_gender
0,361.0,361.0,same values,2024-01-12,M,Male
1,254.0,864.0,different values,2024-02-11,F,Female
2,643.0,NaN,b is blank,2024-01-01,M,Male
3,NaN,NaN,both are blank,NaN,NaN,NaN
4,789.0,NaN,b is empty string,NaN,U,NaN